<div class="container-fluid">
  <h1 class="title title-text">Version 2 Features</h1>
  <div class="feature-container">
    <div class="feature1">
      <p class="feature-title">Feature 1: Static Dropdown</p>
      <label class="mt-3">Choose a state</label>
      <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Chandigarh</a>
            <a class="dropdown-item">Ladakh</a>
            <a class="dropdown-item">Delhi</a>
            <a class="dropdown-item">Jammu and Kashmir</a>
            <a class="dropdown-item">Punjab</a>
            <a class="dropdown-item">Lakshwadeep</a>
            <a class="dropdown-item">Haryana</a>
            <a class="dropdown-item">Chattisgarh</a>
            <a class="dropdown-item">Andhra Pradesh</a>
            <a class="dropdown-item">Assam</a>
            <a class="dropdown-item">Arunachal Pradesh</a>
            <a class="dropdown-item">Bihar</a>
          </div>
        </div>
    </div>
    <div class="feature2">
      <p class="feature-title">Feature 2: Text Input Field</p>
      <label for="url" class="mt-3">Your profile URL</label>
      <div class="input-group">
          <input type="text" class="form-control" id="url" (keyup)="inputUrl($event)">
      </div>
      <label class="status mt-3">{{urlStatusText}}</label>
    </div>
    <div class="feature3">
      <p class="feature-title">Feature 3: Text Input Field</p>
      <label for="mobile-no" class="mt-3">Your 10 digit contact number</label>
      <div class="input-group">
          <input type="text" class="form-control" id="mobile-no" (keyup)="inputMobile($event)">
      </div>
      <label class="status mt-3">{{contactStatusText}}</label>
    </div>
    <div class="feature4">
      <p class="feature-title">Feature 4: Text Input Field</p>
      <label for="amount" class="mt-3">Your amount (max limit 1000$)</label>
      <div class="input-group">
        <input type="text" class="form-control" id="amount" (keyup)="inputAmount($event)">
      </div>
      <label class="status mt-3">{{amountStatusText}}</label>
    </div>
  </div>
</div>