<div class="container-fluid">
  <h1 class="title title-text">Version 2 Features</h1>
  <div class="feature-container">
    <div class="feature1">
      <p class="feature-title">Feature 1: Editable Dropdown</p>
      <label class="mt-3">Choose a state</label>
      <div class="dropdown">
        <button name="dropdown-button" (click)="toggle()" class="dropbtn">Dropdown</button>
        <fa-icon class="custom-icon" [icon]="faCaretDown"></fa-icon>
        <div #drpwdwn id="myDropdown" class="dropdown-content">
          <input #inpt type="text" placeholder="Search.." id="myInput" (keyup)="filter()">
          <a>Chandigarh</a>
          <a>Ladakh</a>
          <a>Delhi</a>
          <a>Jammu and Kashmir</a>
          <a>Punjab</a>
          <a>Lakshwadeep</a>
          <a>Haryana</a>
          <a>Chattisgarh</a>
          <a>Andhra Pradesh</a>
          <a>Assam</a>
          <a>Arunachal Pradesh</a>
          <a>Bihar</a>
          <a>Chhattisgarh</a>
        </div>
      </div>
    </div>
    <div class="feature2">
      <p class="feature-title">Feature 2: Prepend Input Field</p>
      <label for="url" class="mt-3">Your vanity URL</label>
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
          </div>
          <input type="text" class="form-control" id="url" aria-describedby="basic-addon3">
      </div>
    </div>

    <div class="feature3">
      <p class="feature-title">Feature 3: Numeric Input Field</p>
      <label for="mobile-no" class="mt-3">Your mobile number</label>
      <div class="input-group mb-3">
          <input type="number" class="form-control" id="mobile-no" aria-describedby="basic-addon3">
      </div>
  </div>

  <div class="feature4">
    <p class="feature-title">Feature 4: Restricted Input Field</p>
    <label for="amount" class="mt-3">Your amount</label>
    <div class="input-group">
      <input type="number" class="form-control" aria-label="Dollar amount (with two decimal places)">
      <div class="input-group-append">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
      </div>
    </div>
  </div>

  </div>
</div>