.home-container {
    height: 100%;
    background-color: #6c757d;
}

.design-choice {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    width: 900px;
}

.design-choice .custom-box {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    line-height: 300px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(#D64567, rgba(220, 53, 69, 0.8392156862745098));
    font-size: 24px;
}

.title-white {
    color: white;
}