/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 10px;
}

.feature-title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}
